body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(214, 238, 226);
}

.container {
    width: 100%;
    max-width: 450px;
}

.cell {
    width: 30%;
    padding-top: 30%; 
    border: 1px solid black;
    float: left;
}

.row {
    clear: both;
}
/* clear gets rid of the floating- each cell inside a row to float, then reset  */

.X {
    background-color: aquamarine;
}

.O {
    background-color: rgb(185, 66, 185);
}

.clear {
    clear:both;
}

.rematch {
    background-color: orange;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}


/* width: 150px;
height: 150px;
border: 1px solid black;
float: left; */